.footer{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 0 50px;
}

.footer h3{
    font-size: 20px;
    color: rgb(101, 91, 138);
    margin-bottom: 20px;
}

.footer p{
    font-size: 20px;
    color: grey;
    margin-bottom: 20px;
}

.footer button{
    width: 120px;
    height: 50px;
    border: 1px grey solid;
    background-color: white;
    font-size: 20px;
    color: grey;
}

.home-end{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}